<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tattid.metrolukkari"
      android:versionCode="2"
      android:versionName="2.0beta">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name="com.tattid.metrolukkari.MetrolukkariConfig" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
         
        <receiver android:name="com.tattid.metrolukkari.MetrolukkariWidget" >
    		<intent-filter>
    			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    			<action android:name="com.tattid.metrolukkari.widget.action.WIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider"
    				android:resource="@xml/metrolukkari_widget_provider" />
    	</receiver>
    	
        <service android:name="com.tattid.metrolukkari.MetroSchedIntentService" />

    </application>
</manifest>